.front-splash-background {
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    min-height: 100vh;
    margin: 0;
}
.nav-item
{
    margin-right: 25px;
    color: #eaeaea;
    font-weight: 700;
}
.nav-link,.navbar-light
{
    color: #eaeaea;
    font-weight: 700;
    padding-top: 10px;
    margin-right: 25px;
    font-size: 18px;
    text-decoration: none;
}